<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>藏泉古币</title>
    <meta name="description" content="藏泉古币为适应国内日益发展的钱币收藏事业，适应人民群众日益增长的钱币收藏需求，为钱币爱好者保驾护航。"/>
    <meta name="keywords" content="藏泉古币|古币鉴定|藏泉古钱币|古钱币鉴定"/>
    <link href="/templates/default/style/css.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/templates/default/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/templates/default/js/jquery.jslides.js"></script>
    <script type="text/javascript" src="/templates/default/js/jquery.min.js"></script>
    <script type="text/javascript" src="/templates/default/js/direction.js"></script>
</head>

<body class="index">

<div class="top">
    <div class="wrap">
        <div class="logo fl"><a href="/"><img src="/templates/default/images/logo1.png"></a></div>
        <div class="menu fr">
            <ul>
                <li class="on"><a href="/"><span>网站首页</span><em></em><label>HOME</label></a></li>
                <li><a href="/about/"><span>公司简介</span><em></em><label>ABOUT</label></a></li>
                <li><a href="/culture/"><span>企业文化</span><em></em><label>CULTURE</label></a></li>
                <li><a href="/article/"><span>新闻中心</span><em></em><label>NEWS</label></a></li>
                <li><a href="/biaozhun"><span>收费标准</span><em></em><label>SOLUTIONS</label></a></li>
                <li><a href="/jianding"><span>古币鉴定</span><em></em><label>COINS</label></a></li>
                <li><a href="/message/"><span>在线反馈</span><em></em><label>MESSAGE</label></a></li>
                <li><a href="/contact/"><span>联系我们</span><em></em><label>CONTACT</label></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="mainer">
    <div class="about_banner">
        <div class="about_banCen">
            <div class="about_banTitle">藏泉古币</div>
            <div class="about_banCon">
                <p>
                    藏泉古币决心以实事求是为最高原则，主要聘请、挑选国内钱币界最前沿的藏家、币商，尤其是理论联系实际的一些行家为顾问或鉴定师。他们不但有丰富的藏品，而且有长期交易的经验，更有本公司最看重的必要的优秀人品。他们也许年轻，也许没有传统“专家”的种种头衔、官衔、履历，也许缺乏更深的理论锻炼，也许他们的能力在某些领域还有所不足，但我们相信，这些专家，是真正懂钱币、理解钱币、热爱钱币的精英人才。只有市场认可的，才是最经得住历史和事实考验的，本公司本着这个原则，郑重邀请他们担任专职或兼职顾问、鉴定师，为广大泉友服务。</p>
                <p><br></p>
                <p>我们的宗旨，就是为适应国内日益发展的钱币收藏事业，适应人民群众日益增长的钱币收藏需求，为钱币爱好者保驾护航。</p>
                <p><br></p>
                <a href="/about/">查看详细</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="index_service">
        <div class="index_service_t"><h2>古币鉴定</h2>适应人民群众日益增长的钱币收藏需求，为钱币爱好者保驾护航！</div>
        <form action="/plus/advancedsearch.php" method="post"><input type="hidden" name="mid" value="1"/>
            <input type="hidden" name="dopost" value="search"/>
            <input type="text" name="code" value="" placeholder="请输入产品包装上的编号"/>
            <input id="submit" type="submit" name="submit" value="查询"/>
        </form>
    </div>
    <div class="clear"></div>
    <div class="new">
        <div class="w1200">
            <div class="index_service_t">
                <img src="/templates/default/images/news_t.png" alt="古币资讯">
                <h2>古币资讯</h2>
            </div>
            <div class="blog_list">
                <ul>
                    <li>
                        <a title="古钱币市场正在进入高速" href="/article/6.html">
                                <span class="blog_Rtime fl">
                                    <b>28</b>
                                    <em>2017-11</em>
                                </span>
                            <span class="blog_Rmore fr">
                                    <b>古钱币市场正在进入高速</b>
                                    <span>郑州古玩城，中国内地最大的古玩交易市场，每天都有成千上万的人来到这里淘金捡漏，这其中就包括数量庞大的古钱币收藏大军。近年来，由于古钱币本身投资门槛低，又容易升值，
                                    </span>
                                </span>
                        </a>
                    </li>
                    <li><a title="清朝钱币里的学问" href="/article/5.html">
                            <span class="blog_Rtime fl">
                                <b>28</b>
                                <em>2017-11</em>
                            </span>
                        <span class="blog_Rmore fr">
                                <b>清朝钱币里的学问</b>
                                <span>清朝光绪年间，一场以光绪元宝的单位应该定为两还是定为元的争论在朝野内外争论不休。在当时，多数造币厂铸造的银元为七钱二分，只有少数的造币厂依据光绪三十三年清政府制定</span>
                            </span>
                    </a>
                    </li>
                    <li>
                        <a title="光绪元宝钱币有着令人无" href="/article/4.html">
                                <span class="blog_Rtime fl">
                                    <b>28</b>
                                    <em>2017-11</em>
                                </span>
                            <span class="blog_Rmore fr">
                                    <b>光绪元宝钱币有着令人无</b>
                                    <span>钱币的收藏，历来是中国收藏市场上的重头戏，而清朝光绪年间发行的光绪元宝留存至今，价值已经难以估量。据说一枚光绪元宝，最高可以拍出人民币120万的天价来，所以我们有必要</span>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a title="古币收藏者要知晓古往今" href="/article/3.html">
                                <span class="blog_Rtime fl">
                                    <b>28</b>
                                    <em>2017-11</em>
                                </span>
                            <span class="blog_Rmore fr">
                                <b>古币收藏者要知晓古往今</b>
                                <span>现在很多人都热衷于收藏各种古钱币，但是他们在收藏古钱币的过程中往往会陷入到一种盲目。这种钱也想要，那种钱也想要，弄了一大堆钱币在自己的家里，却发现有升值空间的没有</span></span>
                        </a>
                    </li>
                    <li>
                        <a title="闲论宋朝与宋钱行情" href="/article/2.html">
                                <span class="blog_Rtime fl">
                                    <b>28</b>
                                    <em>2017-11</em>
                                </span><span class="blog_Rmore fr">
                                <b>闲论宋朝与宋钱行情</b>
                                <span>宋朝是我国历史上从经济、文治两个方面来说达到高峰的一个朝代，人们喜欢说“盛唐”，是从经济、文治、武功三个方面综合评价，纵观历史,唐朝在世界范围内也是首屈一指的，综合</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="五元硬币发行和市场行情" href="/article/1.html">
                                <span class="blog_Rtime fl">
                                    <b>28</b>
                                    <em>2017-11</em>
                                </span>
                            <span class="blog_Rmore fr">
                                    <b>五元硬币发行和市场行情</b>
                                    <span>2013年中国人民银行发行了一枚五元硬币，主要是作为和字书法纪念币的，在发行过程中，数量为5000万枚，面值为5元，当然在市场中流通以后，作为这样的一种纪念币，市场也是会有着</span
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="index_contact">
    <div class="i_contact_ul gy">
        <ul>
            <li>
                <a href="tel:" title="24小时服务热线"><img src="/templates/default/images/contact_pic.png">24小时服务热线：13544021311</a>
            </li>
            <li>
                <a href="mailto:" title="E-mail"><img src="/templates/default/images/contact_pic2.png">E-mail：</a>
            </li>
            <li><a href="javascript:void(0)" id="qqonline_float" title="企业QQ"><img
                    src="/templates/default/images/contact_pic3.png">微信：cangquancoins</a></li>
            <li><a href="javascript:void(0)" title="E-mail"><img src="/templates/default/images/contact_pic4.png">香港中环士丹利街24-26号</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="deanftbottom">
    <div class="w1180">
        <p>Copyright © 2014-2017 cangquancoins.com .  藏泉古币 版权所有    </p>
        <p class="deanpp">友情链接：<a href="http://www.cangquancoins.com/">藏泉古币</a> <a href="http://www.cangquancoins.com/">古币鉴定</a>
            <a href="http://www.cangquancoins.com/">藏泉古钱币</a> <a href="http://www.cangquancoins.com/">古钱币鉴定</a>
        </p>
    </div>
</div>

<script type="text/javascript">


</script>
</body>

</html>

